/node_modules
/public/hot
/public/js/app.js
/public/css/app.css
/public/storage
/storage/*.key
/vendor
.idea
.env
.env.backup
.env.bk
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.vscode
.php_cs.cache
/resources/lambda/*/node_modules/
.vapor/
.env.production
.env.staging
.env.cypress
package-lock.json
cypress/support/routes.json
public/css/app.css
public/mix-manifest.json
composer.lock
.DS_Store
yarn.lock
false
/nova-components/*/node_modules/
