@import url("https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap");

@font-face {
    font-family: "Rodfat";
    src: url("/dragon-tiger/fonts/Rodfat-two-Demo.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.font-saira {
    font-family: "Saira Stencil One", cursive;
}

/*body.dragon-tiger {*/
/*    @apply overflow-x-hidden scroll-smooth 4xl:overflow-hidden;*/
/*}*/
/*.dragon-tiger > div#app {*/
/*    @apply h-screen overflow-x-hidden 4xl:overflow-hidden;*/
/*}*/
.btn-new-round {
    background: radial-gradient(
        circle at center,
        #9b61ba 0%,
        #935cb2 30.9%,
        #80519d 77.7%,
        #754b91 100%
    );
}

.btn-new-match {
    background: radial-gradient(
        circle at center,
        #1abc9c 0%,
        #19b798 37.1%,
        #17a98c 79.2%,
        #16a085 100%
    );
}

.btn-submit-result {
    background: linear-gradient(
        to bottom,
        #f39c12 0%,
        #f2a111 9.7%,
        #f1ba0f 66.1%,
        #f1c40f 100%
    );
}

.dragon-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 255px;
    padding-left: 1.3px;
    padding-top: 1.3px;
    overflow-x: auto;
    overflow-y: hidden;
    background-size: 120px 42px;
    background-image: linear-gradient(to right, #161d1d 3px, transparent 3px),
    linear-gradient(to bottom, #161d1d 3px, transparent 3px);
    background-repeat: repeat;
    background-attachment: local;
    background-color: #2b2b2b;
    line-height: normal;
    text-align: start;
}

.dragon-box .entry {
    @apply m-[1.5px] flex h-[39px] max-h-[39px] w-[117px] max-w-[117px]  items-center justify-between bg-[#2b2b2b] px-2 text-sm font-bold text-white;
    /* align-items: center;
    display: flex;
    flex: 1 1;
    -webkit-flex: 1 1 100%;
    font-weight: 700;
    height: 39px;
    justify-content: space-between;
    padding: 0px 5px;
    margin: 1.5px;
    max-height: 39px;
    max-width: 117px;
    width: 117px;
    background: #2b2b2b;
    color: white; */
}

.dragon-box-result-table {
    align-content: flex-start;
    background-attachment: local;
    background-color: transparent;
    background-image: linear-gradient(90deg, #d3d3d3 1px, transparent 0),
    linear-gradient(180deg, #d3d3d3 1px, transparent 0);
    background-repeat: repeat;
    background-size: 32px 32px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 193px;
    line-height: normal;
    overflow-x: auto;
    overflow-y: hidden;
    text-align: start;
}
